<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.25 43.47">
    <path d="M2.83,43.47c-.38,0-.76-.08-1.12-.23-1.04-.45-1.71-1.47-1.71-2.6V7.5C0,3.37,3.37,0,7.5,0H39.75c4.14,0,7.5,3.37,7.5,7.5V26.44c0,4.14-3.37,7.5-7.5,7.5H14.06l-9.28,8.75c-.54,.51-1.23,.77-1.94,.77ZM7.5,3c-2.48,0-4.5,2.02-4.5,4.5V40.25l9.86-9.3h26.88c2.48,0,4.5-2.02,4.5-4.5V7.5c0-2.48-2.02-4.5-4.5-4.5H7.5Z"/>
    <path d="M37.26,11.11H11.05c-.83,0-1.5-.67-1.5-1.5s.67-1.5,1.5-1.5h26.21c.83,0,1.5,.67,1.5,1.5s-.67,1.5-1.5,1.5Z"/>
    <path d="M37.26,18.03H11.05c-.83,0-1.5-.67-1.5-1.5s.67-1.5,1.5-1.5h26.21c.83,0,1.5,.67,1.5,1.5s-.67,1.5-1.5,1.5Z"/>
    <path d="M24.9,24.96H11.05c-.83,0-1.5-.67-1.5-1.5s.67-1.5,1.5-1.5h13.86c.83,0,1.5,.67,1.5,1.5s-.67,1.5-1.5,1.5Z"/>
</svg>