<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.49 43.48">
    <path d="M13.37,33.31c-3.63,0-6.78-1.12-9.37-3.34C1.35,27.69,0,24.85,0,21.53,0,18.71,.98,16.16,2.91,13.96c1.73-1.97,3.95-3.3,6.62-3.98,1.07-2.85,2.99-5.21,5.71-7.03,2.94-1.96,6.3-2.95,10.01-2.95,4.56,0,8.5,1.42,11.7,4.23,2.91,2.56,4.54,5.65,4.85,9.23,2.26,.45,4.21,1.48,5.79,3.05,1.92,1.91,2.9,4.19,2.9,6.77,0,2.81-1.12,5.22-3.34,7.17-2.16,1.9-4.81,2.86-7.86,2.86H13.37ZM25.25,3c-3.1,0-5.91,.82-8.34,2.45-2.42,1.62-3.99,3.66-4.8,6.25l-.26,.86-.88,.17c-2.42,.48-4.32,1.53-5.8,3.21-1.46,1.66-2.16,3.49-2.16,5.59,0,2.44,.97,4.45,2.96,6.15,2.06,1.76,4.49,2.62,7.42,2.62h25.91c2.34,0,4.26-.69,5.88-2.11,1.56-1.37,2.32-2.98,2.32-4.91,0-1.78-.66-3.3-2.01-4.64-1.4-1.39-3.12-2.17-5.28-2.39l-1.35-.14v-1.36c0-3.27-1.27-5.98-3.89-8.27-2.67-2.35-5.86-3.49-9.72-3.49Z"/>
    <path d="M25.65,25.75l-6.13-6.13-6.13,6.13c-.59,.59-.59,1.54,0,2.12s1.54,.59,2.12,0l2.51-2.51v16.62c0,.83,.67,1.5,1.5,1.5s1.5-.67,1.5-1.5V25.36l2.51,2.51c.29,.29,.68,.44,1.06,.44s.77-.15,1.06-.44c.59-.59,.59-1.54,0-2.12Z"/>
    <path d="M37.69,35.19c-.59-.59-1.54-.59-2.12,0l-2.51,2.51V21.08c0-.83-.67-1.5-1.5-1.5s-1.5,.67-1.5,1.5v16.62l-2.51-2.51c-.59-.59-1.54-.59-2.12,0-.59,.59-.59,1.54,0,2.12l6.13,6.13,6.13-6.13c.59-.59,.59-1.54,0-2.12Z"/>
</svg>