<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.81 43.48">
    <path d="M29.56,43.48H6.44c-3.55,0-6.44-2.89-6.44-6.44V6.44C0,2.89,2.89,0,6.44,0H29.56c3.55,0,6.44,2.89,6.44,6.44v30.59c0,3.55-2.89,6.44-6.44,6.44ZM6.44,3c-1.9,0-3.44,1.55-3.44,3.44v30.59c0,1.9,1.54,3.44,3.44,3.44H29.56c1.9,0,3.44-1.54,3.44-3.44V6.44c0-1.9-1.54-3.44-3.44-3.44H6.44Z"/>
    <rect x="25.49" y="12.07" width="21.73" height="8.71" transform="translate(-.97 30.52) rotate(-45)"/>
    <polygon points="28.62 27.97 24.81 27.97 24.81 24.17 28.62 27.97"/>
    <path d="M48.91,10.19l-6.16-6.16,2.1-2.1c.53-.53,1.21-.8,2.03-.8s1.5,.27,2.03,.8l2.1,2.1c.53,.53,.8,1.21,.8,2.03s-.27,1.5-.8,2.03l-2.1,2.1Z"/>
      <path  d="M14.82,26.97c-.13-.12-.25-.2-.36-.26-.12-.06-.25-.09-.4-.09-.17,0-.3,.03-.39,.1-.09,.07-.13,.18-.13,.34,0,.11,.05,.21,.14,.28,.09,.08,.21,.15,.34,.22,.14,.07,.29,.14,.44,.22,.16,.07,.31,.17,.45,.27s.25,.24,.34,.39c.09,.15,.14,.34,.14,.56,0,.34-.09,.62-.27,.86s-.46,.4-.82,.48v.73h-.68v-.7c-.21-.02-.42-.08-.65-.17s-.42-.21-.58-.36l.45-.69c.18,.14,.35,.24,.51,.3,.16,.07,.33,.1,.49,.1,.2,0,.34-.04,.43-.12,.09-.08,.14-.2,.14-.36,0-.12-.05-.22-.14-.31s-.21-.16-.34-.24c-.14-.08-.29-.15-.44-.23-.16-.08-.31-.17-.44-.28-.14-.11-.25-.23-.34-.38-.09-.14-.14-.32-.14-.53,0-.35,.09-.63,.28-.86,.19-.23,.45-.37,.78-.44v-.72h.68v.71c.22,.03,.42,.1,.59,.2,.17,.1,.32,.23,.45,.37l-.52,.59Z"/>
      <path d="M18.52,26.97c-.13-.12-.25-.2-.36-.26-.12-.06-.25-.09-.4-.09-.17,0-.3,.03-.39,.1-.09,.07-.13,.18-.13,.34,0,.11,.05,.21,.14,.28,.09,.08,.21,.15,.34,.22,.14,.07,.29,.14,.44,.22,.16,.07,.31,.17,.45,.27s.25,.24,.34,.39c.09,.15,.14,.34,.14,.56,0,.34-.09,.62-.27,.86s-.46,.4-.82,.48v.73h-.68v-.7c-.21-.02-.42-.08-.65-.17s-.42-.21-.58-.36l.45-.69c.18,.14,.35,.24,.51,.3,.16,.07,.33,.1,.49,.1,.2,0,.34-.04,.43-.12,.09-.08,.14-.2,.14-.36,0-.12-.05-.22-.14-.31s-.21-.16-.34-.24c-.14-.08-.29-.15-.44-.23-.16-.08-.31-.17-.44-.28-.14-.11-.25-.23-.34-.38-.09-.14-.14-.32-.14-.53,0-.35,.09-.63,.28-.86,.19-.23,.45-.37,.78-.44v-.72h.68v.71c.22,.03,.42,.1,.59,.2,.17,.1,.32,.23,.45,.37l-.52,.59Z"/>
      <path d="M22.22,26.97c-.13-.12-.25-.2-.36-.26-.12-.06-.25-.09-.4-.09-.17,0-.3,.03-.39,.1-.09,.07-.13,.18-.13,.34,0,.11,.05,.21,.14,.28,.09,.08,.21,.15,.34,.22,.14,.07,.29,.14,.44,.22,.16,.07,.31,.17,.45,.27s.25,.24,.34,.39c.09,.15,.14,.34,.14,.56,0,.34-.09,.62-.27,.86s-.46,.4-.82,.48v.73h-.68v-.7c-.21-.02-.42-.08-.65-.17s-.42-.21-.58-.36l.45-.69c.18,.14,.35,.24,.51,.3,.16,.07,.33,.1,.49,.1,.2,0,.34-.04,.43-.12,.09-.08,.14-.2,.14-.36,0-.12-.05-.22-.14-.31s-.21-.16-.34-.24c-.14-.08-.29-.15-.44-.23-.16-.08-.31-.17-.44-.28-.14-.11-.25-.23-.34-.38-.09-.14-.14-.32-.14-.53,0-.35,.09-.63,.28-.86,.19-.23,.45-.37,.78-.44v-.72h.68v.71c.22,.03,.42,.1,.59,.2,.17,.1,.32,.23,.45,.37l-.52,.59Z"/>
    <path  d="M10.75,34.86h-2.97c-.84,0-1.52-.68-1.52-1.52v-2.97c0-.55,.45-1,1-1s1,.45,1,1v2.49h2.49c.55,0,1,.45,1,1s-.45,1-1,1Z"/>
    <path  d="M28.21,34.86h-2.97c-.55,0-1-.45-1-1s.45-1,1-1h2.49v-2.49c0-.55,.45-1,1-1s1,.45,1,1v2.97c0,.84-.68,1.52-1.52,1.52Z"/>
    <path  d="M7.27,27.25c-.55,0-1-.45-1-1v-2.97c0-.84,.68-1.52,1.52-1.52h2.97c.55,0,1,.45,1,1s-.45,1-1,1h-2.49v2.49c0,.55-.45,1-1,1Z"/>
    <path  d="M27.76,11H8.72c-.83,0-1.5-.67-1.5-1.5s.67-1.5,1.5-1.5H27.76c.83,0,1.5,.67,1.5,1.5s-.67,1.5-1.5,1.5Z"/>
    <path  d="M25.08,17.93H8.72c-.83,0-1.5-.67-1.5-1.5s.67-1.5,1.5-1.5H25.08c.83,0,1.5,.67,1.5,1.5s-.67,1.5-1.5,1.5Z"/>
</svg>