<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.33 43.72">
    <path  d="M2.55,34.93c-.34,0-.68-.07-1.01-.21-.94-.4-1.54-1.32-1.54-2.34V6.24C0,2.8,2.8,0,6.24,0H31.68c3.44,0,6.24,2.8,6.24,6.24v14.94c0,3.44-2.8,6.24-6.24,6.24H11.53l-7.23,6.82c-.48,.46-1.11,.7-1.75,.7ZM6.24,3c-1.78,0-3.24,1.45-3.24,3.24V31.34l7.34-6.92H31.68c1.78,0,3.24-1.45,3.24-3.24V6.24c0-1.78-1.45-3.24-3.24-3.24H6.24Z"/>
    <path  d="M44.6,11.79h-3.7v13.97c0,1.99-1.86,4.88-3.93,4.88H14.42v.82c0,2.62,2.12,4.74,4.74,4.74h20.74l7.66,7.23c.67,.63,1.77,.16,1.77-.76V16.52c0-2.62-2.12-4.74-4.74-4.74Z"/>
</svg>