<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.26 43.77">
    <path  d="M20.33,28.48c-.66,0-1.3-.28-1.74-.78l-6.1-6.87c-1.34-1.51-1.67-3.61-.85-5.48,.79-1.8,2.48-2.94,4.42-2.98h.12c1.63,0,3.12,.69,4.16,1.82,1.04-1.13,2.54-1.82,4.16-1.82h.12c1.94,.04,3.63,1.18,4.42,2.98,.82,1.87,.49,3.97-.85,5.48l-6.1,6.87c-.44,.5-1.07,.78-1.74,.78Zm-4.16-13.11c-1.16,.02-1.63,.84-1.78,1.19-.27,.61-.32,1.54,.35,2.29l5.6,6.3,5.6-6.3c.67-.75,.62-1.67,.35-2.29-.15-.35-.63-1.16-1.73-1.19l.03-1.5-.08,1.5c-1.22,0-2.28,.83-2.58,2.01-.19,.73-.84,1.23-1.58,1.23s-1.39-.5-1.58-1.22c-.3-1.19-1.36-2.02-2.59-2.02Z"/>
    <path  d="M39.01,0c-2.29,0-4.33,1.07-5.66,2.73H3.86C1.73,2.73,0,4.46,0,6.59V31.99c0,2.13,1.73,3.86,3.86,3.86h4.58v6.11l.03,1.01,1.81,.8,9.09-7.91h17.43c2.13,0,3.86-1.73,3.86-3.86V14.31c3.21-.75,5.61-3.62,5.61-7.06,0-4.01-3.25-7.25-7.25-7.25Zm-1.35,31.99c0,.48-.39,.86-.86,.86H18.23s-6.79,5.92-6.79,5.92v-4.37l-.05-1.55H3.86c-.48,0-.86-.39-.86-.86V6.59c0-.48,.39-.86,.86-.86H31.91c-.11,.49-.16,1-.16,1.53,0,3.54,2.54,6.49,5.9,7.12V31.99Zm1.35-23.25c-.82,0-1.49-.67-1.49-1.49s.67-1.49,1.49-1.49,1.49,.67,1.49,1.49-.67,1.49-1.49,1.49Z"/>
</svg>