<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.24 43.48">
    <path  d="M27.66,25.22c-5.19,0-9.41-4.22-9.41-9.41s4.22-9.41,9.41-9.41,9.41,4.22,9.41,9.41-4.22,9.41-9.41,9.41Zm0-15.82c-3.53,0-6.41,2.88-6.41,6.41s2.88,6.41,6.41,6.41,6.41-2.88,6.41-6.41-2.88-6.41-6.41-6.41Z"/>
    <circle  cx="12.92" cy="10.45" r="2.42"/>
    <path  d="M53.24,15.81c0-8.72-7.09-15.81-15.81-15.81H15.81C7.09,0,0,7.09,0,15.81s7.09,15.81,15.81,15.81h4.64l-4.34,8.85h-4.75c-.83,0-1.5,.67-1.5,1.5s.67,1.5,1.5,1.5h5.68s0,0,0,0c0,0,0,0,0,0h21.45s0,0,0,0c0,0,0,0,0,0h5.45c.83,0,1.5-.67,1.5-1.5s-.67-1.5-1.5-1.5h-4.52l-4.34-8.85h2.33c8.72,0,15.81-7.09,15.81-15.81ZM3,15.81C3,8.75,8.75,3,15.81,3h21.61c7.07,0,12.81,5.75,12.81,12.81s-5.75,12.81-12.81,12.81h-4.47c-.19-.04-.38-.04-.57,0h-9.23c-.19-.04-.39-.04-.58,0h-6.77c-7.07,0-12.81-5.75-12.81-12.81Zm33.09,24.67H19.45l4.34-8.85h7.96l4.34,8.85Z"/>
</svg>