<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main class="flex">
      <article class="flex article">
        <section class="en-tête flex">
          <h1>{{ .Params.title }}</h1>
          <p class="sous-titre">{{ .Params.description }}</p>
        </section>
        <section class="article_texte">
        {{ .Content }}
        </section>
        <a class="bouton lv1" title="ouvrir {{ .Params.title }}" href="/{{ .Params.lien }}" target="_blank">ouvrir l'outil</a>
      </article>
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
