/****************************/
/*           GENERAL        */
/****************************/


/* général */
html {
    width: 100%;
    scroll-behavior: smooth;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
    --main-color:#161C24;
    --second-color:white;
    --gray-color: #959595;

    color:var(--second-color);
    background-color:var(--main-color);
    fill: var(--second-color);

    height: inherit;
    width: inherit;
}

body{
    width: 95%;
    margin: 0 auto;
}

/* block */
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align-start{
    align-items: start;
}

.space-between{
    justify-content: space-between;
}

img{
    width: 100%;
}

figcaption{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.5em;
}

/* Texte */
h1{
    font-size: 2rem;
    font-weight: bolder;
    border-bottom: solid var(--second-color) 2.5px;
    padding-bottom: 0.75rem;
    width: fit-content;
    text-align: center;
}

h2{
    margin-top: 1.5rem;
    font-size: 1.6em;
    font-weight: 700;
}

h3{
    margin-top: 1.5rem;
    font-weight: lighter;
    font-size: 1.3em;
    font-style: italic;
}

strong{
    font-weight: 800;
}

ul{
    margin: 0;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    max-width: 40rem;
    font-size: inherit;
    line-height: inherit;
}

li{
    margin-top: 0.5em;
}

.underline{
    text-decoration: underline;
}

/* lien */
a{color: inherit;}

.bouton{
    text-decoration: inherit;
}

.bouton:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

/* Svg */
svg{
    height: auto;
    width: 3rem;
    fill: inherit;
}

.arrow svg{
    width: 1rem;
    height: auto;
}

/* Flèche */
.arrow-left{
    transform: rotate(180deg);
}
.arrow-up{
    transform: rotate(-90deg);
}
.arrow-down{
    transform: rotate(90deg);
}

/* Bouton */
.bouton{
    border-radius: 0.5em;
    padding: 0.5rem 0.8em;
    border: none;
    background-color: transparent;
}

.bouton.lv1{
    background-color: var(--second-color);
    color: var(--main-color);
    fill: var(--main-color);
}

.bouton.lv2{
    background-color: var(--main-color);
    border: solid 1px var(--second-color);
    color: var(--second-color);
}

.bouton.big{
    height: 3rem;
    width: 3rem;
    justify-content: center;
}

/****************************/
/*           BODY           */
/****************************/

/* HEADER */
header{
    height: 5em;
    position: relative;
}

header h2{
    margin: auto;
    font-size: 1.2rem;
    font-weight: normal;
}

header .arrow{
    margin-right: 2rem;
    width: auto;
}

.logo-relief svg{
    width: 2.25em;
}

#account{
    display: none;
}

#account img{
    display: block;
    height: 2.5em;
    width: 2.5em;
    margin-left: 1rem;
    border-radius: 50%;
}

/* MAIN */
main{
    width: 80%;
    margin: auto;
    margin-bottom: 4em;
    position: relative;
}

/* FOOTER */
footer{
    border-top: 0.2px dashed var(--gray-color);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    margin: auto;
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

.baseline{
    align-items: baseline;
}

.up-page{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 0.5rem;
}

.modification{
    font-family: 'Courier New', Courier, monospace;
    color: var(--gray-color);
}

.modif_détails::after{
    content: " "attr(data-dots);
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    color: var(--gray-color);
}

footer li{
    list-style: none;
}

footer .contact li::before{
    content: "↗ ";
    
}


/****************************/
/*         HOME PAGE        */
/****************************/

section.header{
    margin-bottom: 2.5em;
}

section.header p{
    max-width: 30em;
    margin-bottom: 4em;
}

section.header .bouton.lv2{
    margin-left: 2rem;
}

#connexion{
    display: block;
    margin-bottom: 2rem;
}


/********************************/

/* GRID */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, auto));
    grid-gap: 3rem;
    width: 100%;
    justify-content: center;
}

/* Carte outils */
.page-render{
    border: 1px var(--second-color) solid;
    width: fit-content;
    position: relative;
    border-radius: 1.2em;
    padding: 1.5em 2rem;
}

.page-render:hover{
    --main-color:white;
    --second-color:#161C24;
    background-color: var(--main-color);
    color: var(--second-color);
    fill: var(--second-color);
    transform: scale(1.05);
    transition: 0.5s;
}

.page-render h2{
    margin: 0;
}

.page-render .logo-outil{
    margin-bottom: 1.5em;
}

.page-render .lv2{
    margin-top: 1rem;
}

.page-render .open{
    position: absolute;
    bottom: 1.5em;
    right: 2rem;
}


/****************************/
/*          ARTICLE         */
/****************************/


.article{
    max-width: 80%;
    align-items: center;
    justify-content: flex-start;
}

.article_texte h1{
    display: none;
}

.article_texte{
    text-align: left;
    margin-bottom: 2rem;
}

.article_texte p{
    max-width: 40rem;
    line-height: 1.7rem;
    margin-top: 0;
}

.sous-titre{
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 3.5em;
}

blockquote{
    font-family: 'Courier New', Courier, monospace;
    color: var(--gray-color);
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 500;
    max-width: 40rem;
    margin: 0;
    margin-top: -0.5rem;
    margin-bottom: 3rem;
}

