<footer class="flex-row baseline space-between">
    <a class="bouton lv2 big up-page arrow flex arrow-up" title="retour en haut" href="#">
        <svg width="40" height="63" viewBox="0 0 40 63" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.27111 61.2428C1.31849 59.2902 1.31849 56.1243 3.27111 54.1717L25.6366 31.8063L2.36585 8.53556C0.413224 6.58294 0.413224 3.41712 2.36585 1.46449C4.31847 -0.488128 7.48429 -0.488128 9.43691 1.46449L39.7787 31.8063L10.3422 61.2428C8.38955 63.1954 5.22373 63.1954 3.27111 61.2428Z" />
        </svg>
    </a>

      
 <section class="mention">
    <li>Réseau Relief</li>
    <li>Comission SI & Doc</li>
    <li><a title="Voir les mentions légales" href="{{ "mentions_legales" | absURL }}">Mentions légales</a></li>
 </section>
 <section class="contact">
    <ul>
        <li><a title="contacter sur le rocketchat" target="_blank" href="https://chat.tiers-lieux.org/channel/aysFwjd2oSNmw5qWd">Rocket Chat</a></li>
        <li><a title="contacter sur Element" target="_blank" href="https://chat.relief-aura.fr/#/room/!DNrmzvSuxUzFmlSPFp:relief-aura.fr?via=relief-aura.fr&via=liiib.re&via=matrix.skeptikon.fr">Element</a></li>
    </ul>
 </section>
 <section class="modification">
    <ul>
        <li><span class="underline"  title="Regénérer le site" onclick="rerunLastPipeline()"  href="">Regénérer la page</a> .... Gitlab Pages + Hugo</li>
        <li><a title="Aller au pad portail" target="_blank" href="https://pad.relief-aura.fr/portail-liste-outils">Modifier/ajouter des pages</a>... pad Hedgedoc</li>
        <li><a title="Voir le code source" target="_blank" href=""> Voir le code source</a> ......... dépot Gitlab</li>
    </ul>

 </section>
</footer>