<header onload="Is_Connected()" class="flex-row space-between">
    <div class="flex-row">
        <div class="arrow arrow-left">
            <a title="retour à l'acceuil" onclick="history.go(-1)">
            <svg width="75" height="67" viewBox="0 0 75 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.5641 63.3138C35.6115 61.3612 35.6115 58.1954 37.5641 56.2428L59.9295 33.8773L36.6588 10.6066C34.7062 8.65398 34.7062 5.48816 36.6588 3.53554C38.6114 1.58292 41.7773 1.58292 43.7299 3.53554L74.0717 33.8773L44.6351 63.3138C42.6825 65.2665 39.5167 65.2665 37.5641 63.3138Z" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M66.9453 33.9358C66.9453 36.6972 64.7067 38.9358 61.9453 38.9358L5.00069 38.9358C2.23927 38.9358 0.000686841 36.6972 0.000687083 33.9358C0.000687324 31.1744 2.23927 28.9358 5.00069 28.9358L61.9453 28.9358C64.7067 28.9358 66.9453 31.1744 66.9453 33.9358Z" />
            </svg>
            </a>    
        </div>
        <h2>/le portail des outils</h2>
    </div>

    <div class="flex-row">
        <div class="logo-relief">
            <a title="accueil relief" href="https://relief-aura.fr">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136.97 134.26">
                    <path class="cls-1" d="M71.84,17.65c0-2.32,0-4.04,0-5.77,0-1.88-1.01-2.75-2.84-2.75-6.06,0-12.12-.06-18.17,.02-3.18,.04-3.94,.8-3.94,3.95,.01,22.4,.07,44.8,.12,67.21,0,2.23-.04,4.47,.04,6.7,.05,1.36-.53,1.82-1.83,1.82-12.75-.02-25.51,.01-38.26-.09-.73,0-1.85-.88-2.12-1.6-2.58-6.79-3.27-13.92-3.2-21.11,.11-12.82,3.76-24.71,10.71-35.36C20.2,18.59,31.01,9.85,44.52,4.55,56.25-.05,68.37-1.01,80.65,.99c8.17,1.33,15.92,4.17,23.08,8.59,8.92,5.51,16.41,12.42,22,21.28,4.87,7.72,8.69,15.91,9.46,25.17,.45,5.45,1.06,10.95,.78,16.38-.26,4.95-1.63,9.85-2.51,14.77-.32,1.76-1.65,1.62-2.95,1.62-16.1,0-32.2,0-48.3,0-2.55,0-5.1-.06-7.65,.03-1.5,.05-2.13-.41-2.12-2.02,.04-8.69-.29-17.39,.06-26.06,.29-7.1,3.09-13.41,8.33-18.39,1-.95,2.37-1.66,3.69-2.11,1.97-.67,3.54,0,4.53,1.98,1.8,3.6,2.49,7.38,1.98,11.35-.28,2.18,.42,3.18,2.73,3.44,6.64,.72,13.27,1.64,19.89,2.5,1.27,.16,2.12-.03,2.36-1.57,1.73-10.99-.28-21.28-6.33-30.56-6.73-10.33-20.54-15.89-33.56-11.04-1.17,.44-2.39,.73-4.3,1.31Z"/>
                    <path class="cls-1" d="M10.02,118.76c1.71,6.42,5.19,7.84,10.51,4.68,1.71,1.69,3.53,3.34,5.12,5.19,.29,.34-.13,1.76-.63,2.22-5.75,5.23-14.37,4.33-19.73-1.97-7.62-8.97-6.88-25.66,1.5-33.9,6.05-5.94,15.34-5.59,20.72,.96,5.11,6.21,6.14,13.46,4.95,21.2-.23,1.52-1.08,1.65-2.34,1.64-6.61-.04-13.21-.02-20.09-.02Zm13.93-8.9c-.45-3.71-1.51-6.7-4.04-9.02-1.57-1.44-3.38-1.72-5.29-.77-2.84,1.41-5.47,6.46-5.14,9.8h14.47Z"/>
                    <path class="cls-1" d="M84.17,119.71c1.29,1.62,2.39,3.48,3.94,4.81,1.7,1.47,3.77,1.1,5.49-.28,1.02-.82,1.73-.79,2.6,.21,1.46,1.66,3.04,3.22,4.53,4.79-3.86,5.73-12.93,6.64-18.58,1.96-5.81-4.81-7.74-11.36-7.74-18.55,0-6.04,1.7-11.67,5.66-16.4,6.42-7.65,16.87-7.26,22.66,.85,4.27,5.99,5.13,12.72,4.11,19.84-.23,1.57-1.12,1.83-2.5,1.82-6.52-.05-13.05-.02-19.58-.02-.2,.32-.4,.65-.6,.97Zm-.62-9.88h14.85c-.46-3.47-1.36-6.45-3.77-8.76-2.16-2.08-4.59-2.12-6.8-.1-2.57,2.35-3.73,5.39-4.28,8.86Z"/>
                    <path class="cls-1" d="M121.69,120.01c.37,3.8,.61,7.29,1.07,10.74,.3,2.22-.23,3.11-2.67,3.16-6.05,.12-6.05,.23-6.6-5.83-.2-2.22-.42-4.44-.54-6.67-.07-1.25-.5-1.95-1.87-1.84-1.59,.13-2.11-.71-1.97-2.2,.11-1.11,.17-2.23,.13-3.34-.09-2.19,.07-4.11,3.01-3.64,.46-3.16,.76-6.17,1.37-9.11,.82-3.91,2.48-7.39,6.02-9.66,5.03-3.23,10.71-2.43,14.11,2.52,1.56,2.27,2.2,5.2,3.06,7.89,.5,1.58-.41,2.37-2.05,2.29-.71-.03-1.44-.05-2.15,.02-2.64,.28-4.86,.15-5.14-3.37-.06-.76-1.37-2.08-1.94-2-.88,.12-2.09,1.1-2.33,1.95-.78,2.81-1.26,5.71-1.66,8.61-.05,.39,.99,1.28,1.59,1.35,2.05,.24,4.13,.26,6.2,.26,1.58,0,1.98,.72,1.99,2.21,0,6.81,.04,6.8-6.84,6.66-.78-.02-1.57,0-2.8,0Z"/>
                    <path class="cls-1" d="M43.39,125.21c4.72,0,9.09,.06,13.45-.03,2.02-.04,2.78,.77,2.44,2.72-.08,.47-.06,.95-.07,1.43-.18,4.67-.18,4.72-4.98,4.62-5.81-.12-11.61-.39-17.42-.48-1.67-.03-2.28-.71-2.28-2.27,0-12.26-.04-24.52,.04-36.78,0-.56,1.08-1.12,1.67-1.66,.09-.08,.31-.01,.47-.02q6.58-.2,6.6,6.36c.03,7.56,.05,15.13,.08,22.69,0,.86,0,1.73,0,3.41Z"/>
                    <path class="cls-1" d="M71.79,118.51c0,4.46-.05,8.92,.02,13.37,.03,1.57-.38,2.26-2.11,2.31-6.77,.2-6.77,.25-6.77-6.49,0-7.56,.06-15.13-.04-22.69-.02-2,.67-2.6,2.62-2.6,6.27-.01,6.27-.08,6.27,6.06,0,3.34,0,6.69,0,10.03Z"/>
                    <path class="cls-1" d="M67.4,100.99c-5.04,.17-4.02,.45-4.32-4.03-.22-3.3-.18-3.31,3.09-3.45,.24-.01,.47-.01,.71-.03,5.83-.29,4.68-.33,5.07,4.58,.17,2.11-.39,3.19-2.67,2.93-.62-.07-1.26-.01-1.9-.01Z"/>
                </svg>
            </a>
        </div>

        <div id="account">
            <a title="mon compte" href="https://id.indie.host/auth/realms/relief-aura-fr/account/">
                <img class="account-img" src="{{ "media/T-account.png" | absURL }}" alt="photo de profil">
            </a>
        </div>
    </div>
</header>