<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="robots" content="index, follow">
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ .Site.Params.Description }}">
<meta name="author" content="{{ .Site.Author.Name }}">
{{- hugo.Generator }}
<script>
    function Is_Connected(){
        var is_connected= sessionStorage.getItem("is_connected");
        console.log("chargement : " + is_connected);
        if (is_connected=="true"){
            document.getElementById("connexion").style.display = "none";
            document.getElementById("account").style.display = "block";
        }else{
            document.getElementById("connexion").style.display = "block";
            document.getElementById("account").style.display = "none";
        }
    }

    function Connexion(){
        var is_connected= "true";
        sessionStorage.removeItem("is_connected");
        sessionStorage.setItem("is_connected",is_connected);
        Is_Connected();
    }
</script>
<script src="{{ "js/pipeline.js" | absURL }}?rnd={{ now.Unix }}"></script>
<link rel="stylesheet" type="text/css" href="{{ "css/style.css" | absURL }}?rnd={{ now.Unix }}" />
{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" type="text/css" href="{{ . | absURL }}?rnd={{ now.Unix }}">
{{- end }}

