<div class="page-render flex align-start space-between">
    <div class="logo-outil">
        {{ partial (printf "logo/%s.html" .Params.type) . }}
    </div>
    <h2>{{ .Params.title }}</h2>
    <p>{{ .Params.description }}</p>
    <a class="bouton lv2" title="Découvrir {{ .Params.title }}"  href="{{ .Permalink }}">Découvrir</a>
    <a class="bouton lv1 big open arrow flex" title="ouvrir {{ .Params.title }}" href="/{{ .Params.lien }}" target="_blank">
        <svg width="40" height="63" viewBox="0 0 40 63" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.27111 61.2428C1.31849 59.2902 1.31849 56.1243 3.27111 54.1717L25.6366 31.8063L2.36585 8.53556C0.413224 6.58294 0.413224 3.41712 2.36585 1.46449C4.31847 -0.488128 7.48429 -0.488128 9.43691 1.46449L39.7787 31.8063L10.3422 61.2428C8.38955 63.1954 5.22373 63.1954 3.27111 61.2428Z" />
        </svg>
    </a>
</div>